# Entornos virtuales
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Python bytecode / cachés
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales / logs
*.log
*.tmp
*.bak
*.swp

# Datos locales
data/
datasets/
outputs/

# Archivos del sistema
.DS_Store
Thumbs.db
