# Entornos virtuales
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Python bytecode / cachés
__pycache__/
*.pyc
*.pyo
*.pyd

# Python packaging
*.egg-info/
dist/
build/

# Archivos temporales / logs
*.log
*.tmp
*.bak
*.swp

# Datos locales
data/
datasets/
outputs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas temporales / variables locales
var/
tmp/

# Scripts personalizados de entorno virtual
venv.ps1
venv.bat
stop_app.bat
